<app-navigation-bar></app-navigation-bar>
<div *ngIf="question!=undefined">
  <app-question-component [question]="question"></app-question-component>
  <div *ngIf="question.answers!=undefined"  >
    <app-answer-component *ngFor="let answer of question.answers" [answer]="answer"></app-answer-component>
  </div>
  <div class="input-group container">
    <textarea id="answer" name="answer" placeholder="Write something.." style="height:200px; width: 100%; border-radius: 5px;"></textarea>
  </div>
  <div class="container">
    <br>
    <button class="btn btn-success">Post your answer</button>
  </div>
</div>
