<app-navigation-bar></app-navigation-bar>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card login-logout-tab">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item selected">
            <a class="nav-link " href='/login'>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/register'>Register</a>
          </li>
        </ul>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12">
            <br />
            <div class="col-md-10 offset-md-1">
              <section>
                <form id="account" method="post">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="row">
                    <div>
                      <label class="form-label">Email</label>
                    </div>
                    <div class="form-floating">
                      <input class="form-control" autocomplete="username" aria-required="true" />
                    </div>
                  </div>
                  <br />

                  <div class="row">
                    <div>
                      <label class="form-label">Password</label>

                    </div>
                    <div class="form-floating" style="border-radius: 5px;">
                      <input  class="form-control" autocomplete="current-password" aria-required="true" />

                    </div>
                  </div>
                  <br>
                  <div>
                    <button id="login-submit" type="submit" class="btn btn-lg btn-primary" style="border-radius: 21px;">Log in</button>
                  </div>
                  <br />
                  <div>

                  </div>
                </form>
              </section>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
