<app-navigation-bar></app-navigation-bar>
<div class="container">
  <h2>Ask a question</h2>
  <br>
  <div class="container">
    <input id="title" placeholder="Title" style="width: 50%;">
    <br>
    <br>
    <textarea id="body" placeholder="Details" style="height: 100px; width: 50%"></textarea>
    <br>
    <br>

    <input (change)="addTag()" #tag id="tag" placeholder="tag" style="width: 50%;">
    <app-tags [tags]="tags"></app-tags>
    <br>
    <button class="btn btn-info" style="border-radius: 10px;">Ask question</button>
  </div>
</div>
