<app-navigation-bar></app-navigation-bar>
<div class="cont">

<h1>About Us</h1>
<br />
<div>
  <p>The amazing team behind ChatOverflow.</p>
    <div class="row">
      <div class="col">
        <img src="assets/CEO.jpg" alt="CEO" style="border-radius: 50%; width:150px;"/>
        <p style="position:relative; left:60px;">CEO</p>
      </div>
      <div class="col">
        <img src="assets/CEO.jpg" alt="COO" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:60px;">COO</p>
      </div>
      <div class="col">
        <img src='assets/CFO.jpg' alt="CFO" style="border-radius: 50%; width:150px; height:auto;  "/>
        <p style="position:relative; left:60px;">CFO</p>
      </div>
      <div class="col">
        <img src="assets/CTO.jpg " alt="CTO" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:60px;">CTO</p>
      </div>
      <div class="col">
        <img src="assets/CMO.jpg" alt="CMO" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:60px;">CMO</p>
      </div>
      <div class="col">
        <img src="assets/CHRO.jpg" alt="CHRO" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:60px;">CHRO</p>
      </div>
      <div class="col">
        <img src="assets/Investor.jpg" alt="Investor" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:20px;">Investor</p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <img src="assets/Winterfell.jpg" alt="Winterfell Manager" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:0px;">Winterfell Regional Manager</p>
      </div>
      <div class="col">
        <img src="assets/WinterfellSiteManager.jpg" alt="Winterfell Site Manager" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:0px;">Winterfell Site Manager</p>
      </div>
      <div class="col">
        <img src="assets/HRManager.jpg" alt="HR Manager" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:15px;">HR Manager</p>
      </div>
      <div class="col">
        <img src="assets/EgiptManager.jpg" alt="Egipt Regional Manager" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:10px;">Egypt Regional Manager</p>
      </div>
      <div class="col">
        <img src="assets/SecurityManager.jpg" alt="Security Manager" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:9px;">Security Manager</p>
      </div>
      <div class="col">
        <img src="assets/RNDManager.jpg" alt="R&D Manager" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:20px;">R&D Manager</p>
      </div>
      <div class="col">
        <img src="assets/ProjectManager.jpg" alt="Project Manager" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:15px;">Project Manager</p>
      </div>
      <div class="col">
        <img src="assets/ComunicationManager.jpg" alt="Communication Manager" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:15px;">Communication Manager</p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <img src="../../../../assets/Dev.jpg" alt="Developer" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:30px;">Developer</p>
      </div>
      <div class="col">
        <img src="assets/QA.jpg" alt="QA" style="border-radius: 50%;width:150px;"/>
        <p style="position:relative; left:60px;">QA</p>
      </div>
      <div class="col col-md8"></div>
      <div class="col col-md5"></div>
    </div>
  </div>
</div>
