<app-navigation-bar></app-navigation-bar>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card login-logout-tab">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item login-colored">
            <a class="nav-link " href='/login'>Login</a>
          </li>
          <li class="nav-item selected">
            <a class="nav-link" href='/register'>Register</a>
          </li>
        </ul>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col-md-12">
            <br />
            <div class="col-md-10 offset-md-1">
              <section>
                  <div class="row">
                    <div>
                      <label class="form-label">Username</label>

                    </div>
                    <div class="form-floating" style="border-radius: 5px;">
                      <input  class="form-control" #username autocomplete="username" aria-required="true" />

                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div>
                      <label class="form-label">Email</label>
                    </div>
                    <div class="form-floating">
                      <input class="form-control" #email autocomplete="email" aria-required="true" />
                    </div>
                  </div>
                  <br />

                  <div class="row">
                    <div>
                      <label class="form-label">Password</label>

                    </div>
                    <div class="form-floating" style="border-radius: 5px;">
                      <input  class="form-control" #password autocomplete="current-password" type="password" aria-required="true" />

                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div>
                      <label class="form-label">Confirm Password</label>

                    </div>
                    <div class="form-floating" style="border-radius: 5px;">
                      <input #confirmPassword class="form-control" autocomplete="current-password" type="password" aria-required="true" />

                    </div>
                  </div>
                  <br>

                  <div>
                    <button id="login-submit" (click)="registerUser()" class="btn btn-lg btn-primary" style="border-radius: 21px;">Register</button>
                  </div>
                  <br />
                  <div>

                  </div>
              </section>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
